@{
    ViewBag.Title = "Product Listing";
}
<style>
    .child-heading {
        padding: 2% 0 2% 6%;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        font-style: italic;
    }
</style>
<div class="container">
    <div class="page-header">
        <h1><i class="fa fa-product-hunt"></i> Product Listing</h1>
    </div>
    <div class="row">
        <div class="text-right" style="margin-bottom:10px;">
            <a href="/product/create"><button class="btn btn-primary"><i class="fa fa-plus"></i> Add Product</button></a>
        </div>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th style="width:10%"></th>
                    <th style="width:15%">Chinese Name</th>
                    <th style="width:15%">English Name</th>
                    <th style="width:10%">Total Quantity</th>
                    <th style="width:10%">Dollar Price</th>
                    <th style="width:10%">RMB Price</th>
                    <th style="width:10%">Unit</th>
                    @*<th style="width:13%">Description</th>*@
                    <th style="width:13%">Last Modified Date</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script>
        function format(d) {
            if (d.ChildProducts.length <= 0)
                return '<div class="child-heading">No Sub products found</div>';
            var html = '<div class="child-heading">Sub Prodcuts of ' + d.English_Name + '</div><table cellpadding="5" cellspacing="0" border="0" style="margin-left:5%;width:90%;border: 1px solid #eee;margin-bottom: 2%;"><tr><th>Chinese Name</th><th>English Name</th><th>Total Quantity</th><th>Dollar Price</th><th>RMB Price</th><th></th></tr>';
            $.each(d.ChildProducts, function (index, data) {
                html += '<tr><td>' + data.Chinese_Name + '</td>' +
                    '<td>' + data.English_Name + '</td>' +
                    '<td>' + data.Quantity + '</td>' +
                    '<td>' + data.Dollar_Price + '</td>' +
                    '<td>' + data.RMB_Price + '</td>' +
                    '<td><a href="/product/create/' + data.Id + '"><i class="fa fa-pencil-square-o" style="color:green;margin-right:10px;vertical-align:inherit;"></i></a><a href="javascript:"><i style="color:red;" class="fa fa-times"></i></a></td>' +
                    '</tr>';
            });
            html += '</table>';
            return html;
        }

        $(document).ready(function () {
            var table = $('#example').DataTable({
                "ajax": "/Product/ProductList",
                "columns": [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        'render': function (data, type, full, meta) {
                            if (data.ChildProducts.length <= 0)
                                return '';
                            else
                                return '<a href="javascript:"><button class="btn btn-primary details-control"><i class="fa fa-plus-circle"></i> Sub Products</button></a>';
                        }
                    },

                    { "data": "Chinese_Name" },
                    { "data": "English_Name" },
                    { "data": "Quantity" },
                    { "data": "Dollar_Price" },
                    { "data": "RMB_Price" },
                    { "data": "Unit" },
                    //{ "data": "Description" },
                    { "data": "ModifiedDate" },
                    {
                        "className": '',
                        "orderable": false,
                        "data": null,
                        'render': function (data, type, full, meta) {
                            return '<a href="/product/create/' + data.Id + '"><i class="fa fa-pencil-square-o" style="color:green;margin-right:10px;vertical-align:inherit;"></i></a><a href="javascript:"><i style="color:red;" class="fa fa-times"></i></a>';
                        }
                    }],
                "order": [[1, 'asc']]
            });

            // Add event listener for opening and closing details
            $('#example tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tr.find(".details-control").find(".btn").html("<i class='fa fa-plus-circle'></i> Sub Products");
                }
                else {
                    // Open this row
                    if (row.data().ChildProducts.length <= 0) {
                        tr.removeClass('shown');
                        return;
                    }
                    row.child(format(row.data())).show();
                    tr.find(".details-control").find(".btn").html("<i class='fa fa-minus-circle'></i> Sub Products");
                    tr.addClass('shown');
                }
            });
        });
    </script>
}

